.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header { 
  text-align: center;
  margin-bottom: 4rem;
}

.header h1 {
  font-size: 3rem;
  font-weight: var(--font-semibold);
  padding-bottom: 0.75rem;
}

.header p {
  font-size: 1.25rem;
}
